# Q1

In [1]:

import statistics
ages=[19,22,19,24,20,25,26,24,25,24]
#sorting the ages
ages.sort()
print("after sorting the list is ", ages) 
#find the min and max of ages
Min=min(ages)
Max=max(ages)
print("The min age is :", Min)
print("The max age is :", Max)
#add the min and max ages to the list
ages.append(Min)
ages.append(Max)
print("after adding the min and max ages:",ages)
#find the median of ages
Median=statistics.median(ages)
print("median age:",Median)
#find the average of ages
Average=statistics.mean(ages)
print("Average age:",Average)
#find the range  of ages
Range=Max-Min
print("Range of ages :", Range)

after sorting the list is  [19, 19, 20, 22, 24, 24, 24, 25, 25, 26]
The min age is : 19
The max age is : 26
after adding the min and max ages: [19, 19, 20, 22, 24, 24, 24, 25, 25, 26, 19, 26]
median age: 24.0
Average age: 22.75
Range of ages : 7

# Q2

In [2]:
#create an empty dictionary called dog
dog={}
dog['name']= 'Oreo'
dog['color']= 'white'
dog['breed']= 'pomeranian'
dog['legs']=4
dog['age']=3
print(dog)

#create a student dictionary
student=dict()
student['first_name']='Sushma'
student['last_name']= 'Kasoju'
student['gender']='Female'
student['age']=22
student['Marital_status']='Single'
student['skills']=['C','Python']
student['country']='India'
student['city']='Hyderabad'
student['address']= 'Balanagar'
print(student)
#length of the student dictionary
len_of_student= len(student)
print(len_of_student)
#Get the value of skills and check the data type, it should be a list
skills_of_student= student.get('skills')
print(skills_of_student)
print(type(skills_of_student))
#Modify the skills values by adding one or two skills
student.update({'skills':['C','Python']})
print(student)
#Get the dictionary keys as a list
student_keys= list(student.keys())
print(student_keys)
#Get the dictionary values as a list
student_values= list(student.values())
print(student_values)

{'name': 'Oreo', 'color': 'white', 'breed': 'pomeranian', 'legs': 4, 'age': 3}
{'first_name': 'Sushma', 'last_name': 'Kasoju', 'gender': 'Female', 'age': 22, 'Marital_status': 'Single', 'skills': ['C', 'Python'], 'country': 'India', 'city': 'Hyderabad', 'address': 'Balanagar'}
9
['C', 'Python']
<class 'list'>
{'first_name': 'Sushma', 'last_name': 'Kasoju', 'gender': 'Female', 'age': 22, 'Marital_status': 'Single', 'skills': ['C', 'Python'], 'country': 'India', 'city': 'Hyderabad', 'address': 'Balanagar'}
['first_name', 'last_name', 'gender', 'age', 'Marital_status', 'skills', 'country', 'city', 'address']
['Sushma', 'Kasoju', 'Female', 22, 'Single', ['C', 'Python'], 'India', 'Hyderabad', 'Balanagar']

# Q3

In [3]:
sisters=('hepsiba','divya')
brothers=('bablu','nivas')
#Join brothers and sisters tuples and assign it to siblings
siblings=sisters+brothers
print(siblings)
#siblings count
siblings_count=len(siblings)
print(siblings_count)
#adding the name of your father and mother and assign it to family_members
Father="venkatesh"
Mother="akhila"
family_members=list(siblings)
family_members.append(Father)
family_members.append(Mother)
family_members=tuple(family_members)
print("family_members",family_members)

('hepsiba', 'divya', 'bablu', 'nivas')
4
family_members ('hepsiba', 'divya', 'bablu', 'nivas', 'venkatesh', 'akhila')

# Q4

In [1]:
it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
age = [22, 19, 24, 25, 26, 24, 25, 24]
#Find the length of the set it_companies
len_0f_it=len(it_companies)
print(it_companies)
#Add 'Twitter' to it_companies
it_companies.add('Twitter')
print(it_companies)
#Insert multiple IT companies at once to the set it_companies
it_companies.update({'Deloitte','Accenture','Virtusa'})
print(it_companies)
#Remove one of the companies from the set it_companies
it_companies.remove('Virtusa')
print(it_companies)
#What is the difference between remove and discard
#Remove:if the requested item doesnot exist, the remove()will generate an error
#Discard:if the requested item doesnot exist, the discard() will NOT generate an error
#Join A and B
C=A.union(B)
print("A union B")
#Find A intersection B
A_inter_B=A.intersection(B)
print(A_inter_B)
#Is A subset of B
subset_check=A.issubset(B)
print(subset_check)
#Are A and B disjoint sets
disjoint_check=A.isdisjoint(B)
print(disjoint_check)
#Join A with B and B with A
D=A.union(B)
E=B.union(A)
print("join A with B",D)
print("join B with A",E)
#symmetric difference between A and B
H=A.symmetric_difference(B)
print("symmetric difference between A and B:",H)
#Delete the sets completely
del A,B
#Convert the ages to a set and compare the length of the list and the set.
I=set(age)
print("length of list and set is same:",len(I)==len(age))

{'Facebook', 'Apple', 'Microsoft', 'Oracle', 'IBM', 'Amazon', 'Google'}
{'Facebook', 'Apple', 'Microsoft', 'Twitter', 'Oracle', 'IBM', 'Amazon', 'Google'}
{'Facebook', 'Apple', 'Twitter', 'Deloitte', 'Accenture', 'Oracle', 'Google', 'Microsoft', 'IBM', 'Amazon', 'Virtusa'}
{'Facebook', 'Apple', 'Twitter', 'Deloitte', 'Accenture', 'Oracle', 'Google', 'Microsoft', 'IBM', 'Amazon'}
A union B
{19, 20, 22, 24, 25, 26}
True
False
join A with B {19, 20, 22, 24, 25, 26, 27, 28}
join B with A {19, 20, 22, 24, 25, 26, 27, 28}
symmetric difference between A and B: {27, 28}
length of list and set is same: False

Q5

In [13]:
import math
constant=math.pi
radius=30
#calculate the area of the circle and assigning the value
Area=constant*radius*radius
print("Area of the circle :",Area)
#calculate the circumference of the circle and assigning the value
circumference=2*constant*radius
print("circumference of the circle:",circumference)
#taking input and calculate the area
new_radius=float(input("enter the radius value:"))
Area=constant*new_radius*new_radius
print("for given radius:",new_radius,"\nArea",Area)

Area of the circle : 2827.4333882308138
circumference of the circle: 188.49555921538757
enter the radius value:10
for given radius: 10.0
Area 314.1592653589793

Q6

In [15]:
statement="I am a teacher and I love to inspire and teach people"

#using split method for getting the individual elements
split=statement.split(" ")
sp_set=set(split)
print("set:",sp_set)
print("number of unique words:",len(sp_set))

set: {'to', 'I', 'am', 'teacher', 'love', 'teach', 'people', 'a', 'and', 'inspire'}
number of unique words: 10

Q7

In [16]:
print('Name \tAge \tcountry \tcity')
print('Asabeneh \t250 \tFinland \tHelsinki')

Name 	Age 	country 	city
Asabeneh 	250 	Finland 	Helsinki

Q8

In [21]:
radius = 10
area = int(3.14 * radius ** 2)
#using string formatting method
print('The area of a circle with radius{} is {} meters square.'.format(radius,area))

The area of a circle with radius10 is 314 meters square.

Q9

In [2]:
#taking the input
n=input('Enter the Length:')
Lbs=n.split()
#creating two lists one for lbs and other for kgs.
kgs=[]
for i in Lbs:
    kgs.append((int(i)*0.45));
print(kgs)

Enter the Length:28
[12.6]